<!-- 用户信息 -->
<nz-layout style="height: 100%;">
  <app-bread-crumb class="bread-crumb" isAdmin=true type='userInfo'></app-bread-crumb>
  <nz-content>
    <nz-content class="content-data">
      <nz-table style="width: 100%; height: 100%;" #parentTable [(nzData)]="listOfParentData"
        [(nzPageIndex)]="pageIndex" [nzShowQuickJumper]="true" [(nzPageSize)]="pageSize" [(nzTotal)]="sizeTotal"
        [nzFrontPagination]="false" (nzPageIndexChange)="changePageIndex()">
        <thead>
          <tr>
            <th [nzShowSort]="true" (nzSortOrderChange)="changeOrder($event)" [nzSortOrder]="listSortOrderBy">用户ID</th>
            <th nzCustomFilter>
              用户名
              <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <!-- 搜索框 -->
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="输入用户名" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                    查询
                  </button>
                  <button nz-button nzSize="small" (click)="reset()">重置</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <th>邮箱</th>
            <th>信用</th>
            <th>点数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="parentTable.data">
            <tr>
              <td>{{ data.id }}</td>
              <td>{{ data.userName }}</td>
              <td>{{ data.mailbox }}</td>
              <td>{{ data.credit }}</td>
              <td>{{ data.point }}</td>
              <td>
                <a nz-popconfirm nzPopconfirmTitle="确认删除么?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteNewsById(data.id)">删除该条目</a>
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button [nzType]="'primary'"
                  (click)="createTplModal(tplTitle, tplContent, tplFooter, data)"><span>管理该条目</span></button>
                <!-- 模态框头部 -->
                <ng-template #tplTitle>
                  <span>管理资讯</span>
                </ng-template>
                <!-- 模态框内容 -->
                <ng-template #tplContent let-params let-ref="modalRef">
                  用户信用：<nz-rate [nzCount]="10" [(ngModel)]="user.credit" [nzCharacter]="characterIcon" nzAllowHalf></nz-rate>
                  <ng-template #characterIcon><i nz-icon nzType="heart"></i></ng-template>
                </ng-template>
                <!-- 模态框底部 -->
                <ng-template #tplFooter>
                  <button nz-button nzType="primary" (click)="destroyTplModal()">
                    取消
                  </button>
                  <button nz-button nzType="primary" (click)="commit()">
                    提交更新
                  </button>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-content>
</nz-layout>