<nz-layout style="height: 100%;">
    <nz-content>
      <nz-content class="content-data">
        <nz-table style="width: 100%; height: 100%;" #parentTable [(nzData)]="listOfParentData"
          [(nzPageIndex)]="pageIndex" [nzShowQuickJumper]="true" [(nzPageSize)]="pageSize" [(nzTotal)]="sizeTotal"
          [nzFrontPagination]="false" (nzPageIndexChange)="changePageIndex()">
          <thead>
            <tr>
              <th></th>
              <th [nzShowSort]="true" (nzSortOrderChange)="changeOrder($event)" [nzSortOrder]="listSortOrderBy">资讯ID</th>
              <th nzCustomFilter>
                资讯标题
                <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <!-- 搜索框 -->
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="输入文章标题" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      查询
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                  </div>
                </div>
              </nz-dropdown-menu>
              <th>上传时间</th>
              <th>资讯类型</th>
              <th>资讯是否审核</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="parentTable.data">
              <tr>
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.pubdate | date:'yyyy年-MM月-d日 HH:mm:ss' : 'utc'}}</td>
                <td>{{ data.type | newsTypePipe}}</td>
                <td>{{ data.flag | newsCheckPipe}}</td>
              </tr>
              <tr [nzExpand]="expandSet.has(data.id)">
                <nz-table #innerTable (nzData)="data" nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>资讯来源</th>
                      <th>资讯摘要</th>
                      <th>资讯浏览量</th>
                      <th>资讯列表展示图片</th>
                    </tr>
                  </thead>
          <tbody>
            <tr>
              <td>{{ data.source }}</td>
              <td>{{ data.summary }}</td>
              <td>{{ data.views }}</td>
              <td><img [src]="data.img" alt=""></td>
            </tr>
          </tbody>
        </nz-table>
        </tr>
        </ng-template>
        </tbody>
        </nz-table>
      </nz-content>
    </nz-content>
  </nz-layout>
  <!-- 具体条目模态框 -->