<!-- 上传公益商品 -->
<nz-layout>
  <app-bread-crumb class="bread-crumb" isAdmin=true type='scgysp'></app-bread-crumb>
  <nz-content>
    <nz-content class="content-data-upload">
      <!-- 上传公益商品表单 -->
      <form nz-form [formGroup]="uploadCommodityForm">
        <!-- 商品名称 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">商品标题</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="商品标题不符合要求">
            <input nz-input formControlName="title" id="title" placeholder="只支持汉字，最多支持20个汉字" [(ngModel)]="commodity.title"/>
          </nz-form-control>
        </nz-form-item>
        <!-- 商品摘要 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="summary">商品摘要</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="商品摘要不符合要求">
            <textarea id="summary" formControlName="summary" rows="4" nz-input [(ngModel)]="commodity.summary"
              placeholder="只支持汉字，最多支持100个汉字"></textarea>
          </nz-form-control>
        </nz-form-item>
        <!-- 列表展示图片 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            <span style="font-size: 24px; line-height: 100%; color: red;">*</span>列表展示图片
            <i nz-icon nzType="question" nzTheme="outline" nzTooltipTitle="仅支持.png、.jpg格式的图片"
              nzTooltipPlacement="topCenter" nz-tooltip></i>
          </nz-form-label>
          <nz-upload nzAction="http://localhost:8080/upload/pic" [nzHeaders]="{ authorization: 'authorization-text' }"
            (nzChange)="handleNewsImagChange($event)" [nzDisabled]="isDisabled">
            <button nz-button><i nz-icon nzType="upload"></i>上传</button>
          </nz-upload>
        </nz-form-item>
        <!-- 所需点数 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"><span style="font-size: 24px; line-height: 100%; color: red;">*</span>
            所需点数
          </nz-form-label>
          <nz-slider style="width: 60%;" [(ngModel)]="point" [nzDisabled]="false" [nzMax] =100 [nzMin]=1 [ngModelOptions]="{standalone: true}"></nz-slider>
        </nz-form-item>
        <!-- 商品剩余数量 -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"><span style="font-size: 24px; line-height: 100%; color: red;">*</span>
            商品剩余数量
          </nz-form-label>
          <nz-slider style="width: 60%;" [(ngModel)]="quantity" [nzDisabled]="false" [nzMax] =100 [ngModelOptions]="{standalone: true}"></nz-slider>
        </nz-form-item>
      </form>
      <!-- 商品信息 -->
      <editor [(ngModel)]="data" apiKey="gwyubai1cdtwea9azntbx3b4dni7oq5e5hmptytgybotdmh3" [init]="tinyInit"></editor>
      <button nz-button nzType="primary" (click)="uploadCommodity()">上传</button>
    </nz-content>
  </nz-content>
</nz-layout>