<nz-alert *ngIf="UploadnewsFlag === '200'" nzType="success" nzMessage="上传文章成功" nzCloseable nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert *ngIf="UploadLocationsFlag === '200'" nzType="success" nzMessage="上传收货地址成功" nzCloseable nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert *ngIf="seekHelpFlag === '200'" nzType="success" nzMessage="上传求助信息成功" nzCloseable nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert *ngIf="deleteLocationFlag === '200'" nzType="success" nzMessage="删除收货地址成功" nzCloseable nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert *ngIf="updateLocationFlag === '200'" nzType="success" nzMessage="修改收货地址成功" nzCloseable nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="success" *ngIf="modifyPasswordFlag === '200'" nzCloseable nzMessage="修改密码成功" nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="error" *ngIf="modifyPasswordFlag === '101'" nzCloseable nzMessage="发送验证码邮件失败" nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="error" *ngIf="modifyPasswordFlag === '104'" nzCloseable nzMessage="验证码未失效，不再生成新的验证码" nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="error" *ngIf="modifyPasswordFlag === '105'" nzCloseable nzMessage="验证码失效，需要重新申请验证码" nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="error" *ngIf="modifyPasswordFlag === '106'" nzCloseable nzMessage="验证码验证失败，请到邮箱查看验证码" nzShowIcon
    (nzOnClose)="afterClose()"></nz-alert>
<nz-alert nzType="error" *ngIf="modifyPasswordFlag === '109' || UploadLocationsFlag === '109'" nzCloseable
    nzMessage="系统发生未知错误" nzShowIcon (nzOnClose)="afterClose()"></nz-alert>
<nz-alert *ngIf="SearchSeekHelpFlag === '100'" nzType="error" nzCloseable nzMessage="查询参数校验失败" (nzOnClose)="afterClose()"></nz-alert>

<nz-layout>
    <nz-header nz-row>
        <div nz-col nzSpan="8">
            <a routerLink="/"><img alt="微尘logo" src="http://localhost:8080/image/logo.png" /></a>
        </div>
    </nz-header>
    <nz-layout>
        <!-- 导航栏 -->
        <nz-sider nzTheme="light">
            <div class="wrapper">
                <button nz-button nzType="primary" (click)="toggleCollapsed()" style="background-color: #1890ff;
            border-color: #1890ff; margin-left: -137px;">
                    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </button>
                <nz-switch [(ngModel)]="theme">
                    <span checked>Dark</span>
                    <span unchecked>Light</span>
                </nz-switch>
                <ul nz-menu nzMode="inline" [nzTheme]="theme ? 'dark' : 'light'" [nzInlineCollapsed]="isCollapsed">
                    <li nz-submenu nz-tooltip nzTooltipPlacement="right" nzTitle="个人中心" nzOpen nzIcon="appstore">
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 1">
                                个人信息
                                <a (click)="getInfo(1)"></a>
                            </li>
                            <li nz-menu-item [nzSelected]="select === 4">
                                修改密码
                                <a (click)="getInfo(4)"></a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nz-tooltip nzTooltipPlacement="right" nzTitle="投稿相关" nzOpen nzIcon="read">
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 2">
                                资讯投稿
                                <a (click)="getInfo(2)"></a>
                            </li>
                            <li nz-menu-item [nzSelected]="select === 7">
                                投稿进度
                                <a (click)="getInfo(7)"></a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nz-tooltip nzTooltipPlacement="right" nzTitle="求助相关" nzOpen nzIcon="appstore">
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 3">
                                个人求助
                                <a (click)="getInfo(3)"></a>
                            </li>
                            <li nz-menu-item [nzSelected]="select === 8">
                                求助进度
                                <a (click)="getInfo(8)"></a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="商品相关" nzIcon="shopping" nzOpen>
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 5">
                                收货地址
                                <a (click)="getInfo(5)"></a>
                            </li>
                            <li nz-menu-item [nzSelected]="select === 6">
                                已兑换商品
                                <a (click)="getInfo(6)"></a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="活动相关" nzIcon="schedule" nzOpen>
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 9">
                                活动进度
                                <a (click)="getInfo(9)"></a>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="拍卖相关" nzIcon="shopping-cart" nzOpen>
                        <ul>
                            <li nz-menu-item [nzSelected]="select === 10">
                                拍卖进度
                                <a (click)="getInfo(10)"></a>
                            </li>
                            <li nz-menu-item [nzSelected]="select === 11">
                                已拍得商品
                                <a (click)="getInfo(11)"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nz-sider>
        <!-- 个人信息 -->
        <app-info *ngIf="select === 1" style="width: 100%;"></app-info>
        <!-- 资讯投稿 -->
        <app-tg *ngIf="select === 2" style="width: 100%;" (uploadFlags)="getUploadNewsFlag($event)"></app-tg>
        <!-- 投稿进度 -->
        <app-tgjd *ngIf="select === 7" style="width: 100%;"></app-tgjd>
        <!-- 个人求助 -->
        <app-seek-help *ngIf="select === 3" style="width: 100%;" (uploadFlags)="getSeekHelpFlag($event)">
        </app-seek-help>
        <!-- 个人求助 -->
        <app-seek-help-jd *ngIf="select === 8" style="width: 100%;" (selectFlags)="getSearchNewsFlag($event)">
        </app-seek-help-jd>
        <!-- 修改密码 -->
        <app-modify-password *ngIf="select === 4" style="width: 100%;" (uploadFlags)="getModifyPasswordFlag($event)">
        </app-modify-password>
        <!-- 收货地址 -->
        <app-receiving-address *ngIf="select === 5" style="width: 100%;" (uploadFlags)="getUploadLocationsFlag($event)"
            (deleteFlags)="getDeleteLocationFlag($event)" (upsetFlags)="getUpdateLocationFlag($event)">
        </app-receiving-address>
        <!-- 已兑换商品 -->
        <app-goods-purchased *ngIf="select === 6" style="width: 100%;"></app-goods-purchased>
        <!-- 当前用户所参与活动 -->
        <app-activity-process  *ngIf="select === 9" style="width: 100%;"></app-activity-process>
        <!-- 拍卖进度查询 -->
        <app-auction-process *ngIf="select === 10" style="width: 100%;"></app-auction-process>
        <!-- 已拍得商品 -->
        <app-deliver-auction *ngIf="select === 11" style="width: 100%;"></app-deliver-auction>
    </nz-layout>
    <!-- 声明信息 -->
    <nz-footer>
        <div nz-row>
            <div nz-col nzSpan="12" nzOffset="6">
                微尘版权所有
            </div>
            <div nz-col nzSpan="12" nzOffset="6">
                联系我：1012077930@qq.com
            </div>
            <div nz-col nzSpan="12" nzOffset="6">
                <a href="http://www.12377.cn/" target="_blank">违法和不良信息举报中心</a>
                |
                <a href="http://www.piyao.org.cn/" target="_blank">中国互联网联合辟谣平台</a>
            </div>
        </div>
    </nz-footer>
</nz-layout>
<app-back-top [height]="2"></app-back-top>