:host {
    text-align: center;
}

nz-header {
    background-color: white;
    height: 120px;
    
}

nz-footer {
    background: #333;
    color: #fff;
}

nz-footer {
    line-height: 1.5;
}

nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
}

nz-content {
    background: white;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout:last-child {
    margin: 0;
}

div img {
    width: 272px;
    height: 220px;
}

.ant-col {
    height: 100%;
}

.ant-input-group-wrapper {
    margin-top: 50px;
}

nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
}

.ant-btn-primary {
    background-color: red;
    border-color: red;
}

a {
    color: white;
}

.ant-layout-header .ant-menu {
    margin: 22px auto;
}
.green {
    background-color: rgba(9, 243, 9, 0.356);
}
.red {
    background-color: rgba(247, 4, 4, 0.397);
}
.blackColorText {
    color: black;
}
nz-layout:last-child {
    margin: 0;
}
nz-layout {
    margin-bottom: 0px;
}
.arc {
    padding: 5px 0;
}
.resource {
    height: 30px;
    line-height: 28px;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    margin-bottom: 8px;
    color: black;
}
.des {
    height: 50px;
    padding: 5px;
    line-height: 25px;
    border: #CCC 1px dotted;
    color: black;
    overflow: hidden;
}
.content {
    font-size: 14px;
    padding: 10px 0 15px 0;
    line-height: 25px;
    color: #333;
}
p{
    padding-top: 10px;
    text-indent: 2em;
    text-align: left;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title h1 {
    width: 680px;
    line-height: 50px;
    font-family: 'microsoft yahei',Arial;
    font-size: 25px;
    font-weight: normal;
    display: block;
    text-align: center;
    margin: 0 auto;
}