.general-info {
  margin-bottom: 16px;
  background: #fff;
}
.general-info .general-info-t {
  padding: 24px 0 40px 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.04);
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.04);
}
.general-info .general-info-b .c-coin, .general-info .general-info-b {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.general-info .general-info-b {
  height: 48px;
  background: #fdfdfd;
  padding-left: 25px;
  font-size: 14px;
}

.base-info {
  width: 998px;
  padding: 24px 16px 16px;
  background: #fff;
  margin-bottom: 16px;
  text-align: left;
}
.base-info .base-info-head{
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 16px;
}

.base-info .base-info-content .base-info-content-show ul li .content-show-l {
  width: 56px;
  color: #555666;
  margin-right: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.base-info .base-info-content .base-info-content-show ul li {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 32px;
  display: flex;
}