<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="-1">
  <ng-template #tpl>
    <div class="ant-back-top-inner">UP</div>
  </ng-template>
</nz-back-top>
Scroll down to see the bottom-right
<strong> blue </strong>
button.
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-content>Content</nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-content>Content</nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-content>Content</nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-content>Content</nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
