<nz-layout style="height: 100%;">
    <app-bread-crumb class="bread-crumb" isAdmin=true type='usertg'></app-bread-crumb>
    <nz-content>
      <nz-content class="content-data">
        <nz-table style="width: 100%; height: 100%;" #parentTable [(nzData)]="listOfParentData"
          [(nzPageIndex)]="pageIndex" [nzShowQuickJumper]="true" [(nzPageSize)]="pageSize" [(nzTotal)]="sizeTotal"
          [nzFrontPagination]="false" (nzPageIndexChange)="changePageIndex()">
          <thead>
            <tr>
              <th></th>
              <th [nzShowSort]="true" (nzSortOrderChange)="changeOrder($event)" [nzSortOrder]="listSortOrderBy">资讯ID</th>
              <th nzCustomFilter>
                资讯标题
                <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <!-- 搜索框 -->
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="输入文章标题" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      查询
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                  </div>
                </div>
              </nz-dropdown-menu>
              <th>上传时间</th>
              <th>资讯类型</th>
              <th>资讯是否审核</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="parentTable.data">
              <tr>
                <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.pubdate | date:'yyyy年-MM月-d日 HH:mm:ss' : 'utc'}}</td>
                <td>{{ data.type | newsTypePipe}}</td>
                <td>{{ data.flag | newsCheckPipe}}</td>
                <td>
                  <button nz-button [nzType]="'primary'"
                    (click)="createTplModal(tplTitle, tplContent, tplFooter, data)" [nzLoading]="tplModalButtonLoading"><span>管理该条目</span></button>
                  <!-- 模态框头部 -->
                  <ng-template #tplTitle>
                    <span>管理资讯</span>
                  </ng-template>
                  <!-- 模态框内容 -->
                  <ng-template #tplContent let-params let-ref="modalRef">
                    <!-- 上传公益资讯表单 -->
                    <form nz-form [formGroup]="uploadNewsForm">
                      <!-- 文章标题 -->
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">文章标题</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="文章标题不符合要求">
                          <input nz-input formControlName="title" id="title" [(ngModel)]="news.title"
                            placeholder="只支持汉字，最多支持50个汉字" />
                        </nz-form-control>
                      </nz-form-item>
                      <!-- 文章来源 -->
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="source" nzRequired>文章来源</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="文章来源不符合要求">
                          <input nz-input id="source" formControlName="source" [(ngModel)]="news.source"
                            placeholder="只支持汉字，最多支持10个汉字" />
                        </nz-form-control>
                      </nz-form-item>
                      <!-- 摘要 -->
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="summary" nzRequired>摘要</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="摘要不符合要求">
                          <textarea id="summary" formControlName="summary" rows="4" nz-input [(ngModel)]="news.summary"
                            placeholder="只支持汉字，最多支持100个汉字"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                      <!-- 文章类型 -->
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24">文章类型</nz-form-label>
                        <nz-select [ngModel]="news.type" (ngModelChange)="changeNewsType($event)"
                          [ngModelOptions]="{standalone: true}" style="width: 20%;">
                          <nz-option nzValue="0" nzLabel="国内"></nz-option>
                          <nz-option nzValue="1" nzLabel="政府"></nz-option>
                          <nz-option nzValue="2" nzLabel="学校"></nz-option>
                          <nz-option nzValue="3" nzLabel="企业"></nz-option>
                          <nz-option nzValue="4" nzLabel="益人"></nz-option>
                          <nz-option nzValue="5" nzLabel="好人"></nz-option>
                          <nz-option nzValue="6" nzLabel="好事"></nz-option>
                          <nz-option nzValue="7" nzLabel="评选"></nz-option>
                        </nz-select>
                      </nz-form-item>
                    </form>
                  </ng-template>
                  <!-- 模态框底部 -->
                  <ng-template #tplFooter>
                    <button nz-button nzType="primary" (click)="destroyTplModal()">
                      取消
                    </button>
                    <button nz-button nzType="primary" (click)="commitUpdate()" [nzLoading]="tplModalButtonLoading">
                      提交更新
                    </button>
                  </ng-template>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button nz-button [nzType]="'primary'"
                  (click)="getNewInfoById(data.id)"><span>查看详情</span></button>
                </td>
              </tr>
              <tr [nzExpand]="expandSet.has(data.id)">
                <nz-table #innerTable (nzData)="data" nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>资讯来源</th>
                      <th>资讯摘要</th>
                      <th>资讯浏览量</th>
                      <th>资讯列表展示图片</th>
                    </tr>
                  </thead>
          <tbody>
            <tr>
              <td>{{ data.source }}</td>
              <td>{{ data.summary }}</td>
              <td>{{ data.views }}</td>
              <td><img [src]="data.img" alt=""></td>
            </tr>
          </tbody>
        </nz-table>
        </tr>
        </ng-template>
        </tbody>
        </nz-table>
      </nz-content>
    </nz-content>
  </nz-layout>
  <!-- 具体条目模态框 -->