:host {
  text-align: center;
}

nz-header {
  background-color: white;
  height: 120px;
}

nz-footer {
  background: #333;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  background: white;
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}

div img {
  width: 100%;
  height: 100%;
}

.ant-col {
  height: 100%;
}

.ant-input-group-wrapper {
  margin-top: 50px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

.ant-btn-primary {
  background-color: red;
  border-color: red;
}

a {
  color: white; 
}

.ant-layout-header .ant-menu {
  margin: 22px auto;
}
.green{
  background-color: rgba(9, 243, 9, 0.356);
}
.red{
  background-color: rgba(247, 4, 4, 0.397);
}