<nz-breadcrumb *ngIf="!isAdmin">
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
    <a [routerLink]="['/home']">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'login'">
    <i nz-icon nzType="user"></i>
    登录界面
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'wjmm'">
    <i nz-icon nzType="user"></i>
    找回密码
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'register'">
    <i nz-icon nzType="user"></i>
    注册界面
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'adminLogin'">
    <i nz-icon nzType="user"></i>
    管理员登录
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'newsList'">
    <i nz-icon nzType="read" nzTheme="outline"></i>
    资讯列表
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'newsDetail'">
    <i nz-icon nzType="read" nzTheme="outline"></i>
    <a [routerLink]="['/newsList']">资讯列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'newsDetail'">
    <i nz-icon nzType="read" nzTheme="outline"></i>
    资讯详情
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'activityDetail'">
    <i nz-icon nzType="schedule" nzTheme="outline"></i>
    <a [routerLink]="['/activityList']">活动列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'activityDetail'">
    <i nz-icon nzType="schedule" nzTheme="outline"></i>
    活动详情
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'commodityDetail'">
    <i nz-icon nzType="shopping" nzTheme="outline"></i>
    <a [routerLink]="['/commodityList']">商品列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'commodityDetail'">
    <i nz-icon nzType="shopping" nzTheme="outline"></i>
    商品详情
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'activityList'">
    <i nz-icon nzType="schedule" nzTheme="outline"></i>
    活动列表
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'auctionList'">
    <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
    拍卖列表
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'seekHelpList'">
    <i nz-icon nzType="heart" nzTheme="outline"></i>
    求助列表
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'auctionDetail'">
    <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
    <a [routerLink]="['/auctionList']">拍卖列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'auctionDetail'">
    <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
    拍卖详情
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'seekHelpDetail'">
    <i nz-icon nzType="heart" nzTheme="outline"></i>
    <a [routerLink]="['/seekHelpList']">求助列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'seekHelpDetail'">
    <i nz-icon nzType="heart" nzTheme="outline"></i>
    求助详情
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'commodityList'">
    <i nz-icon nzType="shopping" nzTheme="outline"></i>
    商品兑换列表
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-breadcrumb *ngIf="isAdmin">
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
    <a (click) = "gotoAdminHomepage()">后台主页面</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'userInfo'">
    <i nz-icon nzType="user"></i>
    用户信息
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'usertg'">
    <i nz-icon nzType="user"></i>
    用户投稿
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'userhelp'">
    <i nz-icon nzType="heart"></i>
    用户求助
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgyzz'">
    <i nz-icon nzType="read"></i>
    上传公益资讯
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgyzz'">
    <i nz-icon nzType="read"></i>
    查看公益资讯
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgyhd'">
    <i nz-icon nzType="schedule"></i>
    上传公益活动
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgyhd'">
    <i nz-icon nzType="schedule"></i>
    查看公益活动
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgysp'">
    <i nz-icon nzType="shopping"></i>
    上传公益商品
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgysp'">
    <i nz-icon nzType="shopping"></i>
    查看公益商品
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'spfh'">
    <i nz-icon nzType="shopping"></i>
    商品发货信息
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'pmfh'">
    <i nz-icon nzType="shopping-cart"></i>
    拍卖商品发货信息
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgypm'">
    <i nz-icon nzType="shopping-cart"></i>
    上传公益拍卖
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgypm'">
    <i nz-icon nzType="shopping-cart"></i>
    查看公益拍卖
  </nz-breadcrumb-item>
</nz-breadcrumb>