<nz-breadcrumb *ngIf="!isAdmin">
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
    <a [routerLink]="['/home']">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'login'">
    <i nz-icon nzType="user"></i>
    登录界面
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'register'">
    <i nz-icon nzType="user"></i>
    注册界面
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'adminLogin'">
    <i nz-icon nzType="user"></i>
    管理员登录
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-breadcrumb *ngIf="isAdmin">
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
    <a (click) = "gotoAdminHomepage()">后台主页面</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'userInfo'">
    <i nz-icon nzType="user"></i>
    用户信息
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'usertg'">
    <i nz-icon nzType="user"></i>
    用户投稿
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'userhelp'">
    <i nz-icon nzType="user"></i>
    用户求助
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgyzz'">
    <i nz-icon nzType="user"></i>
    上传公益资讯
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgyzz'">
    <i nz-icon nzType="user"></i>
    查看公益资讯
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgyhd'">
    <i nz-icon nzType="user"></i>
    上传公益活动
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgyhd'">
    <i nz-icon nzType="user"></i>
    查看公益活动
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgysp'">
    <i nz-icon nzType="user"></i>
    上传公益商品
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgysp'">
    <i nz-icon nzType="user"></i>
    查看公益商品
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'scgypm'">
    <i nz-icon nzType="user"></i>
    上传公益拍卖
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="type === 'ckgypm'">
    <i nz-icon nzType="user"></i>
    查看公益拍卖
  </nz-breadcrumb-item>
</nz-breadcrumb>