<nz-layout style="height: 100%;">
  <app-bread-crumb class="bread-crumb" isAdmin=true type='ckgyhd'></app-bread-crumb>
  <nz-content>
    <nz-content class="content-data">
      <nz-table style="width: 100%; height: 100%;" #parentTable [(nzData)]="listOfParentData"
        [(nzPageIndex)]="pageIndex" [nzShowQuickJumper]="true" [(nzPageSize)]="pageSize" [(nzTotal)]="sizeTotal"
        [nzFrontPagination]="false" (nzPageIndexChange)="changePageIndex()">
        <thead>
          <tr>
            <th></th>
            <th [nzShowSort]="true" (nzSortOrderChange)="changeOrder($event)" [nzSortOrder]="listSortOrderBy">活动ID</th>
            <th nzCustomFilter>
              活动标题
              <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <!-- 搜索框 -->
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <input type="text" nz-input placeholder="输入活动标题" [(ngModel)]="searchValue" />
                  <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                    查询
                  </button>
                  <button nz-button nzSize="small" (click)="reset()">重置</button>
                </div>
              </div>
            </nz-dropdown-menu>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>人数</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="parentTable.data">
            <tr>
              <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
              <td>{{ data.id }}</td>
              <td>{{ data.title }}</td>
              <td>{{ data.beginTime | date:'yyyy年-MM月-d日 HH:mm:ss' : 'utc'}}</td>
              <td>{{ data.endTime | date:'yyyy年-MM月-d日 HH:mm:ss' : 'utc'}}</td>
              <td>{{ data.peoples }}</td>
              <td>
                <button nz-button [nzType]="'primary'" (click)="createTplModal(tplTitle, tplContent, tplFooter, data)"
                  [nzLoading]="tplModalButtonLoading"><span>管理该条目</span></button>
                <!-- 模态框头部 -->
                <ng-template #tplTitle>
                  <span>管理资讯</span>
                </ng-template>
                <!-- 模态框内容 -->
                <ng-template #tplContent let-params let-ref="modalRef">
                  <!-- 上传公益活动表单 -->
                  <form nz-form [formGroup]="uploadActivityForm">
                    <!-- 活动标题 -->
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">活动标题</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="活动标题不符合要求">
                        <input nz-input formControlName="title" id="title" placeholder="只支持汉字，最多支持50个汉字"
                          [(ngModel)]="activity.title" />
                      </nz-form-control>
                    </nz-form-item>
                    <!-- 开始、结束时间 -->
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24">
                        <span style="font-size: 24px; line-height: 100%; color: red;">*</span>开始结束时间
                      </nz-form-label>
                      <nz-range-picker [(ngModel)]="dateRange" [ngModelOptions]="{standalone: true}"></nz-range-picker>
                    </nz-form-item>
                    <!-- 活动摘要 -->
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="summary">活动摘要</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="活动摘要不符合要求">
                        <textarea id="summary" formControlName="summary" rows="4" nz-input
                          [(ngModel)]="activity.summary" placeholder="只支持汉字，最多支持100个汉字"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                    <!-- 难度 -->
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24"><span
                          style="font-size: 24px; line-height: 100%; color: red;">*</span>
                        难度</nz-form-label>
                      <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips" [ngModelOptions]="{standalone: true}">
                      </nz-rate>
                      <span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>
                    </nz-form-item>
                    <!-- 所需人数 -->
                    <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24"><span
                          style="font-size: 24px; line-height: 100%; color: red;">*</span>
                        所需人数
                        <i nz-icon nzType="question" nzTheme="outline" nzTooltipTitle="最多40人"
                          nzTooltipPlacement="topCenter" nz-tooltip></i>
                      </nz-form-label>
                      <nz-input-number [(ngModel)]="activity.peoples" [nzMin]="1" [nzMax]="40" [nzStep]="1"
                        [ngModelOptions]="{standalone: true}"></nz-input-number>
                    </nz-form-item>
                  </form>
                </ng-template>
                <!-- 模态框底部 -->
                <ng-template #tplFooter>
                  <button nz-button nzType="primary" (click)="destroyTplModal()">
                    取消
                  </button>
                  <button nz-button nzType="primary" (click)="commitUpdate()" [nzLoading]="tplModalButtonLoading">
                    提交更新
                  </button>
                </ng-template>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmTitle="确认删除么?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteNewsById(data.id)">删除该条目</a>
              </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.id)">
              <nz-table #innerTable (nzData)="data" nzSize="middle" [nzShowPagination]="false">
                <thead>
                  <tr>
                    <th>难度</th>
                    <th>活动摘要</th>
                  </tr>
                </thead>
        <tbody>
          <tr>
            <td>
              <nz-rate [(ngModel)]="data.difficulty" [nzTooltips]="tooltips" [ngModelOptions]="{standalone: true}">
              </nz-rate>
            </td>
            <td>{{ data.summary }}</td>
          </tr>
        </tbody>
      </nz-table>
      </tr>
      </ng-template>
      </tbody>
      </nz-table>
    </nz-content>
  </nz-content>
</nz-layout>
<!-- 具体条目模态框 -->