:host {
    text-align: center;
  }
  
  nz-header {
    background-color: white;
    height: 120px;
  }
  
  nz-footer {
    background: #333;
    color: #fff;
  }
  
  nz-footer {
    line-height: 1.5;
  }
  
  nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }
  
  nz-content {
    background: blue;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }
  
  nz-layout:last-child {
    margin: 0;
  }
  
  div img {
    width: 100%;
    height: 100%;
  }
  
  .ant-col {
    height: 100%;
  }
  
  .ant-input-group-wrapper {
    margin-top: 50px;
  }
  
  nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
  }
  nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }
  a {
    color: white; 
  }
  .bread{
    background-color: white;
    text-align: left;
  }
  .contentWidth{
    width: 80%;
    margin-left: 10%;
    background-color: red;
    color: red;
  }
  .ant-layout {
    background: white;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}
.ant-steps-item{
  width: 33.3%;
}
.white-background{
  background-color: white;
}
h2{
  text-align: left;
  line-height: 30px;
}
h2{
  border-bottom: 1px dashed #CCC;
}
.heigth40{
  height: 40px;
}
.redSpan{
  font-weight: bolder;
  color: red
}
nz-alert {
  margin-bottom: 16px;
}
.green{
  background-color: rgba(9, 243, 9, 0.356);
}
.blackWorld{
  color: black;
}